name: ci

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}

permissions:
  contents: read

jobs:

  build:
    runs-on: ${{ matrix.os }}
    timeout-minutes: 15

    strategy:
      matrix:
        os:
          - ubuntu-24.04
          - windows-2022
        node-version:
          - lts/iron
          - lts/jod

    env:
      PUPPETEER_VERSION: 24.6.1

    steps:

      - name: Checkout
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          registry-url: https://registry.npmjs.org
          node-version: ${{ matrix.node-version }}

      - name: Get npm cache location
        id: get-npm-cache
        shell: bash
        run: |
          echo "NPM_CONFIG_CACHE=$(npm config get cache)" >> "$GITHUB_ENV"
          echo "npm_config_cache=$(npm config get cache)" >> "$GITHUB_OUTPUT"

      - name: Cache npm packages
        uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 # v5.0.3
        with:
          path: ${{ steps.get-npm-cache.outputs.npm_config_cache }}
          key: npm-${{ runner.os }}-${{ runner.arch }}-${{ hashFiles('**/package-lock.json') }}
          restore-keys: npm-${{ runner.os }}-${{ runner.arch }}

      - name: Get Puppeteer cache path
        id: pptr-cache
        shell: bash
        run: echo "path=$(node -e "console.log(require('path').join(require('os').homedir(), '.cache', 'puppeteer'))")" >> "$GITHUB_OUTPUT"

      - name: Cache Puppeteer
        uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 # v5.0.3
        with:
          path: ${{ steps.pptr-cache.outputs.path }}
          key: puppeteer-${{ runner.os }}-${{ runner.arch }}-${{ env.PUPPETEER_VERSION }}

      - name: Install dependencies
        run: npm ci

      - name: Lint
        run: npm run lint

      - name: Test
        run: npm run test

      - name: Codecov
        uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
        if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}

  integration:
    runs-on: ${{ matrix.os }}
    timeout-minutes: 20

    needs:
      - build

    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-24.04
          - windows-2022
        puppeteer-version:
          - '24.3.0'
          - '24.3.1'
          - '24.4.0'
          - '24.5.0'
          - '24.6.0'
          - '24.6.1'

    steps:

      - name: Checkout
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4

      - name: Use Node.js LTS
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          registry-url: https://registry.npmjs.org
          node-version: lts/*

      - name: Get npm cache location
        id: get-npm-cache
        shell: bash
        run: |
          echo "NPM_CONFIG_CACHE=$(npm config get cache)" >> "$GITHUB_ENV"
          echo "npm_config_cache=$(npm config get cache)" >> "$GITHUB_OUTPUT"

      - name: Cache npm packages
        uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 # v5.0.3
        with:
          path: ${{ steps.get-npm-cache.outputs.npm_config_cache }}
          key: npm-${{ runner.os }}-${{ runner.arch }}-${{ hashFiles('**/package-lock.json') }}
          restore-keys: npm-${{ runner.os }}-${{ runner.arch }}

      - name: Get Puppeteer cache path
        id: pptr-cache
        shell: bash
        run: echo "path=$(node -e "console.log(require('path').join(require('os').homedir(), '.cache', 'puppeteer'))")" >> "$GITHUB_OUTPUT"

      - name: Cache Puppeteer
        uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 # v5.0.3
        with:
          path: ${{ steps.pptr-cache.outputs.path }}
          key: puppeteer-${{ runner.os }}-${{ runner.arch }}-${{ matrix.puppeteer-version }}

      - name: Install dependencies
        run: npm ci

      - name: Install Puppeteer ${{ matrix.puppeteer-version }}
        run: npm install --no-save 'puppeteer@${{ matrix.puppeteer-version }}' 'puppeteer-core@${{ matrix.puppeteer-version }}'

      - name: Verify the Puppeteer and Puppeteer-Core versions
        run: |
          node -e "process.exit(require('puppeteer/package.json').version == '${{ matrix.puppeteer-version }}' ? 0 : 1)"
          node -e "process.exit(require('puppeteer-core/package.json').version == '${{ matrix.puppeteer-version }}' ? 0 : 1)"

      - name: Test
        env:
          DEBUG: "puppeteer:protocol:*"
          DEBUG_MAX_STRING_LENGTH: "null"
        run: npm run test

  github-pages:
    runs-on: ubuntu-24.04
    timeout-minutes: 5

    permissions:
      contents: read

    steps:

      - name: Checkout
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4

      - name: Set up Git Hub Pages
        uses: actions/configure-pages@983d7736d9b0ae728b81ab479565c72886d7745b # v5

      - name: Build GitHub Pages
        run: |
          sudo apt-get install -y pandoc

          mkdir -p build/gh-pages
          pandoc \
            -f gfm -t html5 -s --shift-heading-level-by=-1 --lua-filter=gh-pages/filter.lua -H gh-pages/header.html \
            -o build/gh-pages/index.html gh-pages/metadata.md README.md

      - name: Upload GitHub Pages artifact
        uses: actions/upload-pages-artifact@56afc609e74202658d3ffba0e8f6dda462b719fa # v3
        with:
          path: build/gh-pages

  publish-github-pages:
    runs-on: ubuntu-24.04
    timeout-minutes: 5

    concurrency:
      group: pages
      cancel-in-progress: false

    permissions:
      contents: read
      pages: write
      id-token: write

    needs:
      - github-pages

    environment:
      name: github-pages
      url: ${{ steps.publish-github-pages.outputs.page_url }}

    if: ${{ github.event_name == 'push' && github.ref_name == 'main' }}

    steps:

      - name: Set up Git Hub Pages
        uses: actions/configure-pages@983d7736d9b0ae728b81ab479565c72886d7745b # v5

      - name: Publish GitHub Pages
        id: publish-github-pages
        uses: actions/deploy-pages@d6db90164ac5ed86f2b6aed7e0febac5b3c0c03e # v4
